@font-face {
    font-family:"icomoon";
    src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('https://rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
    src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400!important;
}
.toolbar h1 {
   margin: auto;
    font-weight: 400;
}

.v-toolbar {
    background: #332726!important;
}

.list-item {
    width: 100%;
}
.list-item h3 {
    margin: auto;
    text-align: left;
}
.list-item .date {
    text-transform: none;
}
.selected-item {
    background: rgb(236, 236, 236);
}
.post-title {
    border-bottom: 1px solid #332726;
    color: #332726;
}
.post-content {
    padding: 10px;
}

.add-post-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
}