<div layout="row" flex>
    <div flex="50" flex-offset="25">
        <form layout="column">
            <md-content>
                <md-input-container class="md-block">
                    <label>Title</label>
                    <input ng-model="title" required>
                </md-input-container>
            </md-content>
            <md-content>
                <md-input-container class="md-block">
                    <label>Content</label>
                    <textarea ng-model="content" columns="1" md-maxlength="150" rows="5" required></textarea>
                </md-input-container>
            </md-content>
            <md-content>
                <md-button class="md-raised md-primary md-block" flex ng-click="newPost()">New Post</md-button>
            </md-content>
        </form>
    </div>
</div>
<md-button class="md-fab md-primary add-post-button" aria-label="Add Post" ng-href="#posts">
    <md-icon md-svg-src="assets/icons/ic_list_white_24px.svg"></md-icon>
</md-button>